ion-icon {
    color: black;
}

.content-container {
    padding: 0 20px;
}

.title-wrapper {
    margin-bottom: 40px;

    span {
        display: block;
        font-size: 23px;
        font-weight: 600;
        margin: 5px 0;
    }

    .pink-font {
        color: #F99595;
    }
}

.memo-item-wrapper {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;

    .memo-title {
        font-size: 15px;
        font-weight: 500;
        display: block;
    }

    .memo-content {
        font-size: 13px;
        color: #A7A7A7;
        display: block;
    }
}